<!DOCTYPE html>
<html lang="en">
<title>Home - Kitto</title>
<link rel="shortcut icon" type="image/jpg" href="https://i.pinimg.com/originals/06/15/71/06157196656587bc901c6e8bf4848fe1.jpg"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">KITTO</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">FEATURES</a>
    <a href="#reviews" class="w3-bar-item w3-button w3-padding-large w3-hide-small">REVIEWS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT US</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Merchandise</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
    <a href="/register" class="w3-padding-large w3-blue w3-right"> REGISTER </a>
    <a href="/login" class="w3-padding-large w3-pale-green w3-right"> Log in </a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#reviews" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">REVIEWS</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="https://media.istockphoto.com/photos/little-student-girl-with-laptop-pc-at-home-picture-id991200516?k=6&m=991200516&s=612x612&w=0&h=keTbYhJz2wrxSO3vKxDAcn36wfgjPK4m0B6_o-cvBjQ=" style="width:100%" height="600">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Monitor Web Activity</h3>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://s3.envato.com/files/34c84d5d-e6f1-410d-97fd-679bd251626c/inline_image_preview.jpg" style="width:100%" height="600">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Block websites and apps</h3>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://a9p9n2x2.stackpathcdn.com/wp-content/blogs.dir/1/files/2018/09/iStock-824777726-e1537981342941.jpg" style="width:100%" height="600">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Control screen time</h3>
    </div>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">MONITORING</h2>
    <h3 class="w3-opacity"><i>easiest AND cheapest way to monitor your kids online</i></h3>
    <p class="w3-justify">
        Here at Kitto, we provide an easy and affordable way for parents to monitor their children. 
        Currently, the internet is both a fascinating and dangerous place, and Kitto lets you supervise your child
        and protect their web surfing. You can also manage their productivity by finding out what your child 
        spends the most time on, and whether your child is really "working" or not. 
    </p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <h2>Data Reports</h2>
        <img src="https://static.thenounproject.com/png/105479-200.png" class="w3-round w3-margin-bottom" alt="Data Reports" style="width:60%">
        <p>Detaild reports on how your child uses apps, websites, and their device, allowing you to see where your child spent their time and their level of productivity</p>
      </div>
      <div class="w3-third">
        <h2>Management</h2>
        <img src="https://www.iconpacks.net/icons/2/free-settings-icon-3110-thumb.png" class="w3-round w3-margin-bottom" alt="Management" style="width:60%">
        <p>Protect your child with the option to block inapprpriate apps and websites, along with the option to control screen time</p>
      </div>
      <div class="w3-third">
        <h2>Affordability</h2>
        <img src="https://static.thenounproject.com/png/2764046-200.png" class="w3-round" alt="Affordability" style="width:60%">
        <p>Save money by choosing us - competitors are currently offering basic price plans at more than $49 per year with similar features </p>
      </div>
    </div>
  </div>

  <!-- Reviews -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="reviews">
    <div>  
      <p style="float: right;"><img src="https://prod-images-static.radiopaedia.org/images/25452701/ec8a92c069a84aa235f907e2c0c0ca_jumbo.jpeg" height="100px" width="100px"></p>
      <h2>See what our customers have to say!</h2>
    </div>
      <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <h2 style="color:blue">Joseph B</h2>
        <h3 style="font-family:Calibri"><small>Kitto has allowed me to find out what my child is really doing on his computer every day, and to manage his time much more efficiently.</small></h3>
      </div>
      <div class="w3-third">
        <h2 style="color:blue">Grace L</h2>
        <h3 style="font-family:Calibri"><small>Kitto is absolutely great! It's so cheap compared to Qustodio.</small></h3>
      </div>
      <div class="w3-third">
        <h2 style="color:blue">Rebecca G</h2>
        <h3 style="font-family:Calibri"><small>Kitto is really great for monitoring kids. My kids officially stopped lying to me about their web activity.</small></h3>
      </div>
    </div>
  </div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT US</h2>
    <h2 class="w3-opacity w3-center"><i>Question or comment? Leave us a message!</i></h2>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Texas, USA<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +1 281 597 9155<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: rebecca.bi@st-agnes.org<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<img src="https://www.webnode.com/blog/wp-content/uploads/2018/05/online-store.png" class="w3-image w3-greyscale-min" style="width:100%">

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
